.grid-main-div {
	color: green;
}


.filepreview-table {
	border: double;
	border-color: green,
}

.datatype-button {
	background-color: #4CAF50;
	padding: 1px 1px;
	text-decoration: none;
	display: inline-block;
	font-size: 8px;
	width: 32px;
}

.preview_editable {
	display: normal
}
